<h3>This is the configuration page for the Redmine Smile Toogle Sidebar plugin</h3>

<ul>
	<li>The activation of the  [+] / [-] button is <b>automatic</b> when a sidebar is present</li>
	<li>It will memorise in the session the Sidebar display state for each controller and action (Issue display, Issues list, etc.)</li>
	<li>The Sidebar display state is <b>not</b> persisted between sessions in a cookie</li>
	<li>As there is no hook at the beginning of the body layout, we use the following trick : the button is inserted just before the flash messages (even if no message)</li>
</ul>
